html
    body
        section(data-ng-controller='BuysController')
            .page-header
                h1 New Buy Scenario
            form.form-horizontal(data-ng-submit='create()', novalidate='')
                .col-md-12
                    h2 Potential Profit : {{potentialProfit || 0.00 | currency}}
                .col-md-5
                    fieldset
                        .form-group
                            label.control-label(for='Merchant') Merchant
                            .controls
                                input#vendor.form-control(type='text', data-ng-model='merchant',
                                placeholder='Where did I buy this?', required='')
                        .form-group
                            label.control-label(for='item') Item Description
                            .controls
                                input#item.form-control(data-ng-model='item', placeholder='Item')
                        .form-group
                            label.control-label(for='type') Type
                            .controls
                                input#type.form-control(data-ng-model='type', placeholder='Type')
                        .form-group
                            label.control-label(for='retail') Retail
                            .controls
                                input#netCost.form-control.currency(type='number',
data-ng-model='retail', placeholder='What\'s the retail price?')
                        .form-group
                            label.control-label(for='paid') Paid
                            .controls
                                input#netCost.form-control.currency(type='number',
                                ng-change="updateNet(discountType)",
data-ng-model='paid', placeholder='What did I pay (before discounts, tax, shipping)?')
                        .form-group
                            label.control-label(for='discount') Discount
                            .controls
                                input#discount.form-control(type='number', ng-change="updateNet" +
                                "('percent')",
                                data-ng-model='discount', placeholder='{{discountType | ' +
                                'capitalize}}' +
                                        ' discount')
                        .form-group(ng-init="discountType='percent'")
                            label.control-label(for='discountType') Type
                                label
                                    input#discounttype(type='radio', ng-change="updateNet" +
                                    "(discountType)",
                                    name='discountType',
                                    value='percent', ng-model="discountType" checked)
                                    span %
                                label
                                    input#discounttype(type='radio', ng-change="updateNet" +
                                    "(discountType)",name='discountType',
                                    value='nominal', ng-model="discountType")
                                    span $
                        .form-group
                            label.control-label(for='netCost') Net Cost
                            .controls
                                input#netCost.form-control.currency(type='number',data-ng-model='netCost', placeholder='Net Cost')
                        .form-group
                            input.btn.btn-default(type='submit')
                        .text-danger(data-ng-show='error')
                            strong {{error}}
                .col-md-5.col-md-offset-2
                    fieldset
                        .form-group
                            label.control-label(for='potentialSale') Potential Sale
                            .controls
                                input#potentialSale.form-control.currency(type='number',
                                ng-change="calculateFeesAndProfit()", ng-model-options='{ ' +
                                'debounce: 500 }',
                                data-ng-model='ebay.potentialSale', placeholder='How much do you ' +
                                'hope ' +
                                'to get?')
                        .form-group
                            label.control-label(for='potentialShippingBuyer') Potential Shipping
                            |Charge to Buyer
                            .controls
                                input#potentialShippingBuyer.form-control.currency(type='number',
                                ng-change="calculateFeesAndProfit()",
                                data-ng-model='ebay.potentialShippingBuyer', placeholder='How ' +
                                'much do you plan to charge the buyer for shipping?')
                        .form-group
                            label.control-label(for='potentialShippingSeller') Potential Shipping
                            |Costs for You as the Seller
                            .controls
                                input#potentialShippingSeller.form-control.currency(type='number',
                                ng-change="calculateFeesAndProfit()",
                                data-ng-model='ebay.potentialShippingSeller', placeholder='How ' +
                                'much do ' +
                                'you think you will pay yourself for shipping and handling?')
                        .form-group
                            label.control-label(for='potentialPaypalFee') Potential Paypal Fee
                            .controls
                                input#potentialPaypalFee.form-control.currency(type='number',
                                data-ng-model='ebay.potentialPaypalFee', placeholder='Default to ' +
                                '2.9% ' +
                                '+ $0.30')
                        .form-group
                            label.control-label(for='potentialListingFee') Potential Listing Fee
                            .controls
                                input#potentialListingFee.form-control.currency(type='number',
                                data-ng-model='ebay.potentialListingFee',
                                ng-change="calculateFeesAndProfit()", placeholder='Listing Fee')
                        .form-group
                            label.control-label(for='potentialFVF') Potential Final-Value Fee
                            .controls
                                input#potentialFVF.form-control.currency(type='number',
                                data-ng-model='ebay.potentialFVF', placeholder='For store owners,' +
                                ' 9% ' +
                                'of listing price plus shipping charged')
                        .form-group
                            label.control-label(for='netSale') Net Sale
                            .controls
                                input#netSale.form-control.currency(type='number',
                                data-ng-model='ebay.netSale', placeholder='Net proceeds from sale')
                .col-md-12.text-center
                    h2(data-ng-model="potentialProfit")

